html {
	height: 100%;
	font-size: 62.5%;

	@include device-width(10) {
		font-size: 61%;
	}

	@include device-width(9) {
		font-size: 60%;
	}

	@include device-width(8) {
		font-size: 59%;
	}

	@include device-width(7) {
		font-size: 58%;
	}

	@include device-width(6) {
		font-size: 57%;
	}

	@include device-width(5) {
		font-size: 56%;
	}

	@include device-width(4) {
		font-size: 55%;
	}
}

body {
	@include lucida-regular;
	height: 100%;
	color: #030303;
	@include font-size(14);
	-webkit-font-smoothing: antialiased;	
}

#header {
	padding-top: 28px;
	text-align: right;
	margin-bottom: 40px;

	.site-logo {
		width: 176px;
		height: 78px;
		display: block;
		overflow: hidden;
		background: url('../images/logos/site.jpg') left top no-repeat;
		float: left;
		margin-left: 2px;
	}

	#top-nav {
		color: #666666;

		.userinfo {
			margin-right: 10px;
		}

		a {
			text-transform: uppercase;

			&:hover {
				color: #030303;
			}			
		}
	}

	.navigation-container {
		margin: 35px 0 0 0;

		@include device-width(7) {
			text-align: center;
			margin: 80px 0 0 0;
		}

	
		.mobile-navigation-btn {
			display: none;
	
			@include device-width(7) {
				display: block;
				border: none;
				background: none;
				position: absolute;
				right: 0;
				top: 23px;				

				i {
					@include font-size(40);
					display: block;
					margin-bottom: 5px;
				}

				&:hover {
				}
			}
		}
	}
	
	.main-navigation { 
		margin: 0;

		@include device-width(7) {
			display: none;
		}		


		> ul {
			margin: 0;
			padding: 0;
		    font-size: 0.1px;

			> li {
			 	display: inline-block;
				position: relative;
				@include transition(all 0.3s ease);

				&:after {
					display: block;
					content: '';
					position: absolute;
					width: 1px;
					height: 12px;
					background: #6d6c6c;
					right: -1px;
					top: 0px;
				}

				&:last-child {
					&:after {
						display: none;
					}
				}

				@include device-width(7) {
					display: block;

					&:after {
						display: none;
					}
				}

			 	> a {
			 		@include lucida-regular;
			 		display: inline-block;
			 		@include font-size(13);
			 		line-height: 19px;
			 		margin: 0 11px;
			 		padding: 0 0 7px;
				 	color: #030303;
				 	border-bottom: 3px solid transparent;
				 	text-transform: uppercase;
				 	line-height: 1;

				 	&:hover {
				 		border-bottom: 2px solid #174686;
				 		color: #174686;
				 	}


				 	@include device-width(9) {
						@include font-size(12);
				 	}

				 	@include device-width(8) {
						@include font-size(11);
						margin: 0 9px;

				 	}				 	

				 	@include device-width(7) {
				 		@include font-size(13);
				 		margin: 0 11px;				 		
				 		padding: 15px 0;
				 		display: block;
				 		border-bottom: 3px solid #F7F7F7;
				 	}			 	
			 	}

			 	&.current_page_parent > a,
			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-page-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a,
			 	&.current > a {
			 		border-bottom: 2px solid #174686;
			 		color: #174686;
			 	}

			}
		} 
	}	
}

#header-image {

		&.container {
			margin: 0 auto;
		}

	#homepage-scroller {

		$ratio: 456 / 1169;
		z-index: 100;

		> .outer {
			position: relative;
			height: 0;
			padding-top: $ratio * 100%;					

			> .inner {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
		}

		.scroller-mask {
			height: 100%;	
			border: 1px solid black;
		}	
	}

	.scroll-item {
		height: 100%;

		span.title {

			@include device-width(8) {
				@include font-size(25);
				padding: 25px;
			}

			@include device-width(7) {
				@include font-size(20);
				padding: 20px;
			}	

			@include device-width(6) {
				@include font-size(15);
				padding: 15px;
			}	

			@include device-width(5) {
				padding: 10px;
			}										
		}
	}	
}

#page {
	margin-top: 20px;

	#content {
		width: 75%;
		float: left;
		@include box-sizing(border-box);
		padding-right: 15px;

		h1:first-child {	
	  		@include font-size(30);
		}

		.row {

			ul, {
				li {
					line-height: 1.5;
					padding-left: 15px;
					background: url('../images/misc/list_bullet.jpg') left 2px no-repeat;
					display: block;
					overflow: hidden;
					color: #333;
					margin: 2px 0;

					a {
						color: #174686;

						&:hover {
							text-decoration: underline;
						}
					}					
				}
			}

			p {
				overflow: hidden;

				a {
					color: #174686;

					&:hover {
						text-decoration: underline;
					}
				}
			}			

			table {
				width: 100%;
				@include border-radius(3px); 

				td {
					padding: 15px;
				}


				thead {
					background: #eaecec;
					border: 1px solid #cfcfcf;
				}

				tbody {

					tr:nth-child(even) {background: #fafafa}
					tr:nth-child(odd) {background: #f7f7f7}

					td {
						border: 1px solid #cfcfcf;
						@include font-size(12);
						@include lucida-regular;
						color: #555555;
					}					
				}
			}		

			.images-bar {
				float:left;
				width: 32%;
				margin-right: 3%;

				img {
					margin-bottom: 6px;
				}

				@include device-width(4) {
					width: 100%;
				}
			}

			.content-wrapper {
				float: right;
				width: 65%;

				@include device-width(4) {
					width: 100%;
				}
				
			}

			.accordion-item {

				.trigger {
					@include font-size(18);
					color: #12108d;

					&:hover {
						text-decoration: underline;
					}					
				}

				.content {
					display: none;	

					p {
						margin: 0;
					}
				}

				&.open {
					.content {
						display: block;
					}
				}
			}
		}

		.columns {

			.span {
				padding: 13px;

				.inner {
					padding: 15px;
					border: 1px solid #333;	
					position: relative;
					padding-bottom: 50px;

					@media only screen and (max-width: 650px){
						padding-bottom: 15px;
					}

					img {
						float:left;
						margin-right: 15px;
						margin-bottom: 15px;
						max-width: 45%;
						height: auto;

						@include device-width(7) {
							display: none;
						}

						@include device-width(5) {
							display: block;
							max-width: 35%;
						}


					}	

					.button {
						position: absolute;
						right: 20px;
						bottom: 20px;

						@media only screen and (max-width: 650px){
						 	position: static;
						 	width: 100%;
						 	display: block;
						 	@include box-sizing(border-box);
						}						
					}			
				}
			}
		}			
	}

	#sidebar {
		width: 25%;
		float:right;
		@include box-sizing(border-box);

		> ul {
			padding: 0;
			margin: 0;

			li.widget {
				border: 1px solid #333;
				padding: 20px;
				margin-bottom: 20px;

				.gform_wrapper {

					.gform_heading {

						.gform_title {
							@include font-size(20);
							@include lucida-regular;
							color: #12108d;
							text-transform: none;
							line-height: 1.2;
						}

						.gform_description {
							@include lucida-regular;
							color: #333;
							@include font-size(13);
							line-height: 1.5;
							margin-top: 15px;
							display: block;
						}
					}

					.gform_body {

						input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password] {
							border: 1px solid #c0c0c0;
							padding: 15px;			
							@include border-radius(2px);				
						}

						input[type=select] {
							-webkit-appearance: none;
							
						}
					}
				}

				&.gform_widget {

					input[type=submit] {
						width: 100%;
					}
				}
			}
		}
	}
}

#alumni {
	.columns {
		margin-bottom: 100px;

		.span {
			width: 50%;
		}
	}
}

		
#footer {

	.container {

		@media only screen and (max-width: 1170px){
		 	margin: 0;
		}		

		.inner {
			background: #12448b url('../images/backgrounds/footer-curve.jpg') center top no-repeat;
			color: #FFF;
			padding: 115px 20px 30px;

			.span.two {
				width: 25%;

				@include device-width(5) {
					width: 50%;
				}
			}
			
			.widget {
				list-style-type: none;
			}
			
			.logos {

				.item {

					a {
						@include inline-block;
						margin-bottom: 15px;

						img {
							max-width: 100%;
							height: auto;
						}

					}					
				}

			}
		}	

		#menu-primary-footer, #menu-seconday-footer  {
			padding: 0;
			margin: 0;
		}

		#menu-primary-footer {

			li {
				margin-bottom: 15px;
				
				a {
					@include font-size(13);
					text-transform: uppercase;
					color: #FFF;
					position: relative;

					&:after {
						content: '';
						position: absolute;
						bottom: 4px;
						right: -10px;
						background: url('../images/misc/footer_bullet.gif') right bottom no-repeat;
						width: 4px;
						height: 7px;
						display: block;
					}
				}			
			}
		}

		.bottom-nav {
			line-height: 40px;
			height: 40px;

			.copyright {
				float: right;
			}

			#menu-seconday-footer {
				float: right;

				li {
					float: left;
					margin-right: 15px;

					a {
						color: #000;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}				
		}
	}
	.carousel {
		display: block;
		position: relative;
		width: 100%;

		.carousel-container {
			display: block;
			overflow: hidden;
			width: 100%;
			margin: 0 auto;
			@include box-sizing(border-box);
			padding: 0 25px;

			.carousel-wrapper, .carousel-wrapper2 {
				clear: both;
				height: auto;
				overflow: hidden;
				margin: 0;

				.carousel-element {
						width: 100%;
						float: left;
						margin: 0;
						background: #043067;
						@include box-sizing(border-box);

					.ce-inner {
						padding: 20px;
						border-right: 1px solid #13458b;
						display: block;
						line-height: 1.5;

						a {
							color: #FFF;
							@include font-size(14);
							display: block;
						}						
					}
				}
			}
		}

		.carousel-nav, .carousel-index {
			display: block;
			margin: 0 auto;
		}

		.nav {
			position: absolute;
			width: 25px;
			background: #002455;
			color: #FFF;
			height: 100px;
			display: block;
			height: 100%;
			top: 0px;
			text-align: center;			

			&:hover {
				text-decoration: none;
			}
		}

		.prev {
			left: 0px;
			border-right: 1px solid #13458b;

			&:before {
				position: absolute;
				top: 45%;
				left: 8px;
			}
		}	

		.next {
			right: 0px;
			border-left: 1px solid #13458b;

			&:before {
				position: absolute;
				top: 45%;
				left: 8px;
			}			
		}				
	}

	label, .label {
		color: #FFF;
		@include font-size(13);
		@include lucida-regular;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	.newsletter {

		.gform_body {
			width: 80%;
			float: left;

			@include device-width(8) {
				width: 70%;
			}

			ul {
				li.gfield {
					margin: 15px 0;
				}
			}
		}

		.gform_footer {
			width: 20%;
			float:right;
			clear:none;
			margin-top: 35px;

			@include device-width(8) {
				width: 30%;
			}			
		}

		input[type=text] {
			border: 1px solid #002455;
			padding: 9px 12px;
			font-size: 13px;
			color: #393939;
		}

		.gform_button, input[type=submit] {
			height: 30px;
			line-height: 1;
			@include border-radius(0 3px 3px 0);			
			width: 100%;
			text-align: center;
			font-size: 15px !important;
			color: #FFF;
		    @include border-radius(3px);
		    border: 1px solid #08182c;
			background-color: #0e386d;
			@include filter-gradient(#0e386d, #0e386d, vertical);
			@include background-image(linear-gradient(top,  #0e386d 0%,#042f66 22%,#042b60 51%,#05285b 86%,#0e386d 100%));
			@include box-shadow(0px 0px 0px transparent inset);

			&:hover {
				background-color: #13458b;	
				background-image: none;		
			}
		}			

		#gforms_confirmation_message, .validation_error {
			padding-top: 40px;
			text-align: center;
			text-transform: uppercase;
		}

		.validation_error {
			color: #DB3838;
		}

		.gfield_error {
			background: none;
			border-top: none;
			border-bottom: none;
			margin: 15px 0;
			padding: 0 !important;
			width: 100%;

			.gfield_label {
				margin-bottom: 8px;
			}

			.ginput_container {
				margin-top: 0px;
				max-width: 100%;
			}
		}
	}
}